<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>User Email Verification</title>
  </head>
  <body>
    <h1>Hi, {{username}}!</h1>
    <h1>Please Verify your email by clicking the below link!!</h1>
    <a href='{{verificationURL}}'>{{verificationURL}}</a>

    <p>If not registered, ignore!!</p>
    <p>From: {{officialName}}</p>
  </body>
</html>